.stars-background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Behind everything */
  overflow: hidden;
  /* The gradient requested by the user */
  background: radial-gradient(ellipse at bottom, #262626 0%, #000 100%);
}

.stars-canvas {
  display: block;
  width: 100%;
  height: 100%;
}
